<div class="container" *ngIf="character">
    <div class="name-row">
        <button (click)="back()" class="character__back-button"><i class="fa fa-chevron-left"></i></button>
        <span class="character__name">{{character.name}}</span>
    </div>
    <div class="character">
        <div class="character__image">
            <img src="{{character.thumbnail.path}}/portrait_uncanny.{{character.thumbnail.extension}}">
        </div>
        <div class="character__data">
            <p class="character__item">Description</p>
            <p class="character__value">{{character.description || 'No description'}}</p>
            <div *ngIf="character.comics && character.comics.items">
                <p class="character__item">Comics</p>
                <ul class="character__comic-list">
                    <li *ngFor="let comic of character.comics.items">{{comic.name}}</li>
                </ul>
            </div>
        </div>    
    </div>
</div>
